In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("all_cars.csv")
pd.set_option('display.max_column',100)
pd.set_option('display.max_row',500)

In [2]:
df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,city,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,Engine,Max Power,Torque,Wheel Size,Seats.1,Color,Engine Type,Displacement,Max Torque,No of Cylinder,Values per Cylinder,Fuel Suppy System,Turbo Charger,Length,Width,Height,Wheel Base,Kerb Weight,Gear Box,Drive Type,Seating Capacity,Steering Type,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Mileage,Value Configuration,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen,total car features,Comfort & Convenience,Interior,Exterior,Safety,Entertainment & Communication
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,NaN,NaN,NaN,chennai,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022.0,998 CC,118.36bhp@6000rpm,172nm,16,5.0,Black,Smartstream G1.0 T - GDi,998.0,172nm@1500-4000rpm,3.0,4.0,GDi,Yes,3995mm,1790,1642,2500,1465,7-Speed DCT,FWD,5.0,Electric,Disc,Drum,"Tubeless, Radial",16,5.0,392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,yes,yes,yes,yes,yes
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,NaN,NaN,NaN,chennai,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015.0,1196 CC,73bhp@6000rpm,101Nm,NaN,7.0,Grey,In-Line Engine,1196.0,101Nm@3000rpm,4.0,4.0,MPFi,No,3675mm,1475mm,1800mm,2350mm,943kg,5 Speed,RWD,7.0,Manual,Ventilated Disc,Drum,Tubeless Tyres,NaN,5.0,540-liters,15.37 kmpl,DOHC,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,4,yes,yes,yes,yes,no
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,NaN,NaN,NaN,chennai,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021.0,999 CC,98.63bhp@5000rpm,160Nm,16,5.0,Others,HRA0 1.0 TURBO PETROL,999.0,160Nm@2800-3600rpm,3.0,4.0,MPFi,Yes,3994mm,1758,1572,2500,1014,5 Speed,NaN,5.0,Electronic,Disc,Drum,"Tubeless,Radial",16,5.0,336,20 kmpl,SOHC,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN,5,yes,yes,yes,yes,yes
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,NaN,NaN,NaN,chennai,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015.0,1086 CC,68.05bhp@5500rpm,99.04Nm,NaN,5.0,Silver,IRDE2 Engine,1086.0,99.04Nm@4500rpm,4.0,3.0,MPFI,No,3585mm,1595mm,1550mm,2380mm,860kg,5 Speed,FWD,5.0,Power,Ventilated Disc,Drum,Tubeless,NaN,5.0,225-litres,19.81 kmpl,SOHC,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,5,yes,yes,yes,yes,yes
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,NaN,NaN,NaN,chennai,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015.0,1199 CC,88.7bhp@6000rpm,110Nm,15,5.0,Others,i-VTEC Petrol Engine,1199.0,110Nm@4800rpm,4.0,4.0,PGM - Fi,No,3955mm,1694mm,1544mm,2530mm,1042kg,5 Speed,FWD,5.0,Power,Disc,Drum,"Tubeless,Radial",15,5.0,354-litres,18.7 kmpl,SOHC,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,5,yes,yes,yes,yes,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,3823,W8 2WD,₹ 7 Lakh,NaN,NaN,NaN,hyderabad,2013,Third Party insurance,Diesel,7 Seats,"60,000 Kms",TS09,First Owner,2179 cc,Manual,2013.0,2179 CC,140bhp@3750rpm,330Nm,17,7.0,Others,mHawk Diesel Engine,2179.0,330Nm@1600-2800rpm,4.0,4.0,Direct Injection,Yes,4585mm,1890mm,1785mm,2700mm,1940,6 Speed,FWD,7.0,Power,Disc & Caliper Type,Disc & Caliper Type,"Tubeless,Radial",17,5.0,NaN,15.1 kmpl,DOHC,NaN,No,NaN,NaN,2450kg,5.6 metres,175 kmph,12.5 Seconds,NaN,NaN,5,yes,yes,yes,yes,yes
8365,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,5007,3.0 Litre S Premium Luxury,₹ 20 Lakh,NaN,NaN,NaN,hyderabad,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",NaN,First Owner,2993 cc,Automatic,2014.0,2993 CC,270.9bhp@4000rpm,600Nm,20,5.0,Blue,Diesel S Engine,2993.0,600Nm@2000rpm,6.0,4.0,Direct Injection,Yes,4961mm,1877mm,1460mm,2909mm,1780kg,8 Speed,RWD,5.0,Power,Disc,Disc,"Tubeless,Radial",20,4.0,540-litres,14.74 kmpl,DOHC,NaN,No,1559mm,1605mm,2360kg,5.75 metres,250 Kmph,6.4 Seconds,NaN,NaN,5,yes,yes,yes,yes,yes
8366,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,250,520d Luxury Line,₹ 35 Lakh,NaN,NaN,NaN,hyderabad,2018,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",TS09,Third Owner,1995 cc,Automatic,2018.0,1995 CC,187.74bhp@4000rpm,400Nm,R18,5.0,Blue,TwinPower Turbo Inline 4 Cylinder Engine,1995.0,400Nm@1750-2500rpm,4.0,4.0,CRDi,Twin,4936mm,2126mm,1466mm,2975mm,1660,8-Speed Steptronic,RWD,5.0,Power,Ventilated Disc,Ventilated Disc,"Tubeless, Runflat",R18,4.0,520-litres,20.37 kmpl,NaN,NaN,No,1605mm,1630mm,NaN,5.6,235kmph,7.5,NaN,NaN,5,yes,yes,yes,yes,yes
8367,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,6500,1.5 Revotorq XMA,₹ 8.50 Lakh,NaN,NaN,NaN,hyderabad,2019,Third Party insurance,Diesel,5 Seats,"50,000 Kms",TS08,Second Owner,1497 cc,Automatic,2019.0,1497 CC,108.5bhp@3750rpm,260Nm,NaN,5.0,Others,"Revotorq, 1.5L Turbocharged engine",1497.0,260Nm@1500-2750rpm,4.0,4.0,CDI,Yes,3994mm,1811mm,1607mm,2498mm,1305Kg,6 Speed,FWD,5.0,Power,Disc,Drum,Tubeless Radial Tyres,NaN,5.0,350,21.5 kmpl,DOHC,NaN,No,1540 mm,1530 mm,NaN,5.1m,154.19 kmph,13.25 Seconds,76x82.5,209 mm,5,yes,yes,yes,yes,yes
8368,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,2294,2.5 ZX Diesel 7 Seater,₹ 15 Lakh,NaN,NaN,NaN,hyderabad,2015,Third Party insurance,Diesel,7 Seats,"1,00,000 Kms",NaN,First Owner,2494 cc,Manual,2015.0,2494 CC,100.6bhp@3600rpm,200Nm,15,7.0,Others,2KD-FTV Diesel Engine,2494.0,200Nm@1200-3600rpm,4.0,4.0,CRDi,Yes,4585mm,1765mm,1760mm,2750mm,1700kg,5 Speed,RWD,7.0,Power,Ventilated Disc,Drum,"Tubeless,Radial",15,5.0,300-litres,12.99 kmpl,DOHC,NaN,No,1510mm,1510mm,2300kg,5.4 metres,155 Kmph,13.3 Seconds,NaN,NaN,5,yes,yes,yes,yes,yes

In [11]:
df.isna().sum()

it                                  0
ft                                  0
bt                                  4
km                                  0
transmission                        0
ownerNo                             0
owner                               0
oem                                 0
model                               0
modelYear                           0
centralVariantId                    0
variantName                         0
price                               0
priceActual                      6699
priceSaving                      8369
priceFixedText                   8369
city                                0
Registration Year                  52
Insurance Validity                  4
Fuel Type                           0
Seats                               6
Kms Driven                          2
RTO                               894
Ownership                          32
Engine Displacement                 4
Transmission                        0
Year of Manufacture                20
Engine                              4
Max Power                          60
Torque                             60
Wheel Size                       2983
Seats.1                             6
Color                               3
Engine Type                       295
Displacement                        4
Max Torque                         60
No of Cylinder                     31
Values per Cylinder                51
Fuel Suppy System                1727
Turbo Charger                    1040
Length                             79
Width                              83
Height                             79
Wheel Base                        163
Kerb Weight                        59
Gear Box                          106
Drive Type                       1560
Seating Capacity                    6
Steering Type                     255
Front Brake Type                   96
Rear Brake Type                    96
Tyre Type                          77
Alloy Wheel Size                 2983
No Door Numbers                    11
Cargo Volumn                     1593
Mileage                           287
Value Configuration              2216
Compression Ratio                6474
Super Charger                    1962
Front Tread                      3558
Rear Tread                       3570
Gross Weight                     4541
Turning Radius                   1600
Top Speed                        3762
Acceleration                     3512
BoreX Stroke                     5964
Ground Clearance Unladen         7854
total car features                  0
Comfort & Convenience               0
Interior                            0
Exterior                            0
Safety                              0
Entertainment & Communication       0
dtype: int64

In [67]:
df.columns

Index(['it', 'ft', 'bt', 'km', 'transmission', 'ownerNo', 'owner', 'oem',
       'model', 'modelYear', 'centralVariantId', 'variantName', 'price',
       'priceActual', 'priceSaving', 'priceFixedText', 'city',
       'Registration Year', 'Insurance Validity', 'Fuel Type', 'Seats',
       'Kms Driven', 'RTO', 'Ownership', 'Engine Displacement', 'Transmission',
       'Year of Manufacture', 'Engine', 'Max Power', 'Torque', 'Wheel Size',
       'Seats.1', 'Color', 'Engine Type', 'Displacement', 'Max Torque',
       'No of Cylinder', 'Values per Cylinder', 'Fuel Suppy System',
       'Turbo Charger', 'Length', 'Width', 'Height', 'Wheel Base',
       'Kerb Weight', 'Gear Box', 'Drive Type', 'Seating Capacity',
       'Steering Type', 'Front Brake Type', 'Rear Brake Type', 'Tyre Type',
       'Alloy Wheel Size', 'No Door Numbers', 'Cargo Volumn', 'Mileage',
       'Value Configuration', 'Compression Ratio', 'Super Charger',
       'Front Tread', 'Rear Tread', 'Gross Weight', 'Turning Radius',
       'Top Speed', 'Acceleration', 'BoreX Stroke', 'Ground Clearance Unladen',
       'total car features', 'Comfort & Convenience', 'Interior', 'Exterior',
       'Safety', 'Entertainment & Communication'],
      dtype='object')

In [13]:
data=df[[#'it', 
     'centralVariantId','ft', 'km', 'transmission', 'ownerNo', 
    'owner', 'oem' , 'bt','model', 'modelYear', 
    'variantName', 'Engine Type', 'price', #'priceActual', 'priceSaving', 'priceFixedText', 
    'city','Registration Year', 'Insurance Validity', #'Fuel Type','Kms Driven', 'RTO', 'Ownership',
    'Engine Displacement', #'Transmission','Year of Manufacture', 'Engine',
    'Max Power', 'Torque','No of Cylinder', 'Mileage', #'Wheel Size','Seats.1', 
    'Color','Seats', #'Displacement', 'Max Torque','Values per Cylinder', 'Fuel Suppy System','Turbo Charger',
    'Length', 'Width', 'Height', 'Wheel Base',
      # 'Kerb Weight', 'Gear Box',  #'Seating Capacity',
      'Steering Type', #'Front Brake Type', 'Rear Brake Type', 'Tyre Type',
      # 'Alloy Wheel Size', 'No Door Numbers',
    'Drive Type','Cargo Volumn',
      # 'Value Configuration', 'Compression Ratio', 'Super Charger',
       #'Front Tread', 'Rear Tread', 'Gross Weight', 'Turning Radius',
       #'Top Speed', 'Acceleration', 'BoreX Stroke', 'Ground Clearance Unladen',
       #'total car features', #'Comfort & Convenience', 'Interior', 'Exterior',
      # 'Safety', 'Entertainment & Communication'
]].copy()

In [11]:
data=data.reset_index(drop=True)

In [15]:
data.isna().sum()/len(df)*100

centralVariantId        0.000000
ft                      0.000000
km                      0.000000
transmission            0.000000
ownerNo                 0.000000
owner                   0.000000
oem                     0.000000
bt                      0.047795
model                   0.000000
modelYear               0.000000
variantName             0.000000
Engine Type             3.524913
price                   0.000000
city                    0.000000
Registration Year       0.621341
Insurance Validity      0.047795
Engine Displacement     0.047795
Max Power               0.716932
Torque                  0.716932
No of Cylinder          0.370415
Mileage                 3.429322
Color                   0.035847
Seats                   0.071693
Length                  0.943960
Width                   0.991755
Height                  0.943960
Wheel Base              1.947664
Steering Type           3.046959
Drive Type             18.640220
Cargo Volumn           19.034532
dtype: float64

### not priority (removed columns)
* priceActual
* priceSaving
* priceFixedTex
* RTO
* Fuel Suppy System
* Wheel Size
* Alloy Wheel Size
* Cargo Volumn
* Compression Ratio
* Front Tread
* Rear Tread
* Gross Weight
* Turning Radius
* Top Speed
* Acceleration
* BoreX Stroke
* Ground Clearance Unladen
* total car features
* Comfort & Convenience
* Interior
* Exterior
* Safety
* Entertainment & Communication

# feature columns 
* centralVariantId
* ft 
* bt
* km
* transmission
* owner
* ownerNo
* oem
* model
* modelYear
* variantName
* Engine Type
* city
* Registration Year (month,year) - 52
* Insurance Validity - 4
* Seats - 6
* Engine Displacement - 4
* Max power - 60
* Torque - 60
* No of Cylinder
* Mileage - 287
* Color
* Length
* Width
* Height
* Wheel Base
* Steering Type
* Drive Type
* Cargo Volumn


# lable column
* price

# Null Handling (fillna())

In [338]:
data.to_csv("cardheko_cleaned.csv",index=False)

In [3]:
data=pd.read_csv("cardheko_cleaned.csv")
data

,centralVariantId,ft,km,transmission,ownerNo,owner,oem,bt,model,modelYear,variantName,Engine Type,price,city,Registration Year,Insurance Validity,Engine Displacement,Max Power,Torque,No of Cylinder,Mileage,Color,Seats,Length,Width,Height,Wheel Base,Steering Type,Drive Type,Cargo Volumn,price (lakh)
0,8654,Petrol,"20,000",Automatic,1,1st Owner,Kia,SUV,Kia Sonet,2022,Turbo DCT Anniversary Edition,Smartstream G1.0 T - GDi,₹ 11.50 Lakh,chennai,2022,Third Party,998 cc,118.36,172.00,3.0,NaN,Black,5 Seats,3995,1790,1642,2500,Electric,FWD,392,11.50
1,4025,Petrol,"20,687",Manual,1,1st Owner,Maruti,Minivans,Maruti Eeco,2015,7 Seater Standard BSIV,In-Line Engine,₹ 4.15 Lakh,chennai,2015,Comprehensive,1196 cc,73.00,101.00,4.0,15.37 kmpl,Gray,7 Seats,3675,1475,1800,2350,Manual,RWD,540-liters,4.15
2,8135,Petrol,"30,000",Manual,1,1st Owner,Nissan,SUV,Nissan Magnite,2021,Turbo XV Premium BSVI,HRA0 1.0 TURBO PETROL,₹ 7.50 Lakh,chennai,2021,Third Party,999 cc,98.63,160.00,3.0,20 kmpl,Others,5 Seats,3994,1758,1572,2500,Electric,NaN,336,7.50
3,1579,Petrol,"59,247",Manual,1,1st Owner,Hyundai,Hatchback,Hyundai i10,2015,Sportz 1.1L,IRDE2 Engine,₹ 3.98 Lakh,chennai,2015,Comprehensive,1086 cc,68.05,99.04,4.0,19.81 kmpl,Silver,5 Seats,3585,1595,1550,2380,Power,FWD,225-litres,3.98
4,1341,Petrol,"50,000",Manual,1,1st Owner,Honda,Hatchback,Honda Jazz,2015,1.2 VX i VTEC,i-VTEC Petrol Engine,₹ 5.50 Lakh,chennai,2015,Third Party,1199 cc,88.70,110.00,4.0,18.7 kmpl,Others,5 Seats,3955,1694,1544,2530,Power,FWD,354-litres,5.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,3823,Diesel,"60,000",Manual,1,1st Owner,Mahindra,SUV,Mahindra XUV500,2013,W8 2WD,mHawk Diesel Engine,₹ 7 Lakh,hyderabad,2013,Third Party,2179 cc,140.00,330.00,4.0,15.1 kmpl,Others,7 Seats,4585,1890,1785,2700,Power,FWD,NaN,7.00
8365,5007,Diesel,"50,000",Automatic,1,1st Owner,Jaguar,Sedan,Jaguar XF,2014,3.0 Litre S Premium Luxury,Diesel S Engine,₹ 20 Lakh,hyderabad,2014,Third Party,2993 cc,270.90,600.00,6.0,14.74 kmpl,Blue,5 Seats,4961,1877,1460,2909,Power,RWD,540-litres,20.00
8366,250,Diesel,"1,20,000",Automatic,3,3rd Owner,BMW,Sedan,BMW 5 Series,2018,520d Luxury Line,TwinPower Turbo Inline 4 Cylinder Engine,₹ 35 Lakh,hyderabad,2018,Third Party,1995 cc,187.74,400.00,4.0,20.37 kmpl,Blue,5 Seats,4936,2126,1466,2975,Power,RWD,520-litres,35.00
8367,6500,Diesel,"50,000",Automatic,2,2nd Owner,Tata,SUV,Tata Nexon,2019,1.5 Revotorq XMA,"Revotorq, 1.5L Turbocharged engine",₹ 8.50 Lakh,hyderabad,2019,Third Party,1497 cc,108.50,260.00,4.0,21.5 kmpl,Others,5 Seats,3994,1811,1607,2498,Power,FWD,350,8.50
8368,2294,Diesel,"1,00,000",Manual,1,1st Owner,Toyota,MUV,Toyota Innova,2015,2.5 ZX Diesel 7 Seater,2KD-FTV Diesel Engine,₹ 15 Lakh,hyderabad,2015,Third Party,2494 cc,100.60,200.00,4.0,12.99 kmpl,Others,7 Seats,4585,1765,1760,2750,Power,RWD,300-litres,15.00

In [330]:
data.isna().sum()

centralVariantId       0
ft                     0
km                     0
transmission           0
ownerNo                0
owner                  0
oem                    0
bt                     0
model                  0
modelYear              0
variantName            0
Engine Type            0
price                  0
city                   0
Registration Year      0
Insurance Validity     0
Engine Displacement    0
Max Power              0
Torque                 0
No of Cylinder         0
Mileage                0
Color                  0
Seats                  0
Length                 0
Width                  0
Height                 0
Wheel Base             0
Steering Type          0
Drive Type             0
Cargo Volumn           0
price (lakh)           0
dtype: int64

In [13]:
data["model"].value_counts()

model
Honda City                           370
Maruti Swift                         350
Hyundai i20                          331
Maruti Baleno                        295
Hyundai Grand i10                    260
Maruti Swift Dzire                   253
Maruti Wagon R                       250
Hyundai Creta                        194
Hyundai i10                          183
Hyundai Verna                        182
Honda Amaze                          175
Ford Ecosport                        167
Maruti Alto 800                      163
Maruti Celerio                       152
Renault KWID                         150
Volkswagen Polo                      147
Mahindra XUV500                      129
Maruti Ciaz                          128
Honda Jazz                           112
Jeep Compass                         103
Tata Tiago                            96
Kia Seltos                            95
Maruti Vitara Brezza                  93
Tata Nexon                            88
Maruti Alto K10                       84
Honda WR-V                            82
Maruti Ertiga                         82
Hyundai Venue                         81
Hyundai EON                           70
Renault Duster                        70
Volkswagen Vento                      68
Skoda Rapid                           66
Ford Figo                             64
Honda Brio                            62
Toyota Innova Crysta                  61
Hyundai Santro Xing                   60
Hyundai Grand i10 Nios                60
Toyota Fortuner                       60
Maruti Ignis                          60
Mercedes-Benz C-Class                 58
Toyota Innova                         56
Maruti Alto                           54
Hyundai Xcent                         53
Hyundai Santro                        51
Maruti S-Presso                       49
MG Hector                             48
Datsun RediGO                         46
Mercedes-Benz E-Class                 46
Renault Triber                        44
Maruti Ritz                           44
Toyota Corolla Altis                  39
BMW 3 Series                          39
Mahindra Scorpio                      39
BMW 5 Series                          37
Mahindra Thar                         37
Kia Sonet                             37
Mahindra XUV300                       37
Tata Altroz                           34
BMW X1                                33
Nissan Magnite                        31
Audi A6                               31
Audi Q3                               31
Tata Harrier                          30
Ford Endeavour                        30
Volkswagen Ameo                       29
Renault Kiger                         29
Maruti SX4 S Cross                    29
Audi A4                               28
Hyundai Elantra                       27
Mahindra TUV 300                      27
Skoda Superb                          25
Hyundai i20 Active                    24
Tata Tigor                            24
Tata New Safari                       23
Chevrolet Beat                        23
Toyota Etios                          23
Volkswagen Taigun                     23
Maruti Eeco                           22
Audi Q5                               22
Mercedes-Benz GLC                     22
Mercedes-Benz CLA                     20
Audi Q7                               19
Toyota Glanza                         19
Hyundai Alcazar                       18
Kia Carens                            18
BMW X3                                18
Hyundai Aura                          17
Ford Aspire                           17
Audi A3                               17
Toyota Yaris                          17
Mahindra KUV 100                      17
Skoda Octavia                         17
Maruti XL6                            17
Mercedes-Benz GLE                     17
Mahindra Bolero                       16
Land Rover Range Rover Evoque         16
Toyota Urban cruiser                  16
Chevrolet Cruze                       16
Skoda Kushaq                          16
Honda Civic                           15
Maruti Zen Estilo                     15
Mahindra KUV 100 NXT                  15
Datsun GO                             15
MG Hector Plus                        15
Tata Zest                             15
BMW X5                                15
Nissan Micra                          14
Honda Mobilio                         14
Honda CR-V                            14
Tata Manza                            14
Mercedes-Benz S-Class                 14
Jaguar XF                             14
Hyundai Accent                        13
Datsun GO Plus                        13
Maruti Celerio X                      13
Maruti 800                            13
Mercedes-Benz M-Class                 13
Tata Indica V2                        13
Maruti A-Star                         13
Nissan Terrano                        13
Fiat Linea                            12
BMW 3 Series GT                       12
Tata Punch                            12
Ford Fiesta                           12
Tata Indigo                           12
Tata Indica                           12
Maruti Brezza                         12
Volkswagen Jetta                      12
MG Astor                              12
Chevrolet Spark                       12
Toyota Camry                          11
Skoda Slavia                          11
Tata Nano                             11
Honda New Accord                      11
Tata Hexa                             11
Volvo XC60                            11
Land Rover Discovery Sport            11
Mercedes-Benz GLS                     11
Toyota Etios Liva                     11
Mahindra Marazzo                      10
MG Gloster                            10
Maruti SX4                            10
Mahindra XUV700                       10
Mercedes-Benz GLA Class                9
Volvo XC40                             9
Skoda Fabia                            9
Chevrolet Sail                         9
Volvo S60                              9
Skoda Laura                            9
Ford Freestyle                         9
BMW 3 Series Gran Limousine            9
Tata Safari Storme                     9
Honda BR-V                             9
Nissan Sunny                           8
Maruti Zen                             8
Jaguar XJ                              8
Nissan Micra Active                    8
Kia Carnival                           8
Hyundai i20 N Line                     7
Jaguar XE                              7
Hyundai Getz                           7
Renault Captur                         7
Tata Nexon EV Prime                    7
Mahindra Bolero Power Plus             7
Land Rover Range Rover Sport           7
Fiat Punto                             7
BMW 6 Series                           7
Maruti Wagon R Stingray                7
Maruti Swift Dzire Tour                7
Mahindra Scorpio N                     7
Mercedes-Benz GL-Class                 6
Ford Ikon                              6
BMW 7 Series                           6
Renault Scala                          6
Mitsubishi Pajero                      6
Volkswagen Virtus                      5
Volvo XC 90                            5
Skoda Kodiaq                           5
Mahindra Bolero Neo                    5
Jaguar F-Pace                          5
Chevrolet Tavera                       5
Mahindra Renault Logan                 5
Tata Tiago NRG                         4
Jeep Meridian                          4
Maruti Omni                            4
Mercedes-Benz A-Class Limousine        4
Maruti Grand Vitara                    4
Ford Fiesta Classic                    4
Mini Cooper                            4
Maruti Esteem                          4
Audi Q2                                4
Citroen C3                             4
Citroen C5 Aircross                    4
Nissan Kicks                           4
Hyundai Sonata                         4
Jeep Wrangler                          4
Mercedes-Benz B Class                  4
Chevrolet Optra                        4
Mahindra Ssangyong Rexton              4
MG ZS EV                               4
Tata Nexon EV                          4
Land Rover Freelander 2                3
Mahindra Quanto                        3
Mitsubishi Lancer                      3
OpelCorsa                              3
Maruti Gypsy                           3
Fiat Grande Punto                      3
Mercedes-Benz CLS-Class                3
Mitsubishi Outlander                   3
Maruti Estilo                          3
Mini Cooper Countryman                 3
Mahindra Alturas G4                    3
Mahindra Xylo                          3
Maruti Jimny                           3
Hyundai Santa Fe                       3
Tata Tigor EV                          3
Mercedes-Benz A Class                  3
BMW X4                                 3
Volkswagen Passat                      3
Chevrolet Enjoy                        3
Lexus RX                               3
Skoda Yeti                             3
Hyundai Tucson                         3
Maruti Baleno RS                       3
Mercedes-Benz GLA                      3
Volkswagen Tiguan                      3
Toyota Etios Cross                     3
Mercedes-Benz AMG A 35                 3
Fiat Avventura                         3
Ambassador                             3
Volvo S60 Cross Country                2
Fiat Punto EVO                         2
Mercedes-Benz AMG G 63                 2
Mahindra E Verito                      2
Porsche Macan                          2
Volvo V40                              2
Tata Bolt                              2
Porsche Panamera                       2
Renault Pulse                          2
Toyota Fortuner Legender               2
Hyundai Xcent Prime                    2
Land Rover Defender                    2
Isuzu D-Max                            2
Mahindra Scorpio Classic               2
Toyota Qualis                          2
Chevrolet Aveo                         2
Toyota Hyryder                         2
Mahindra e2o Plus                      2
Land Rover Range Rover Velar           2
BMW 1 Series                           2
Isuzu MU-X                             2
Mitsubishi Cedia                       2
Ford Mondeo                            2
Renault Fluence                        2
Land Rover Discovery                   2
Lexus ES                               2
Renault Lodgy                          2
Volkswagen T-Roc                       2
Volvo S90                              2
Mahindra Bolero Camper                 2
Tata Nexon EV Max                      2
BMW X7                                 2
Isuzu MU 7                             1
Mercedes-Benz SLC                      1
BMW 2 Series                           1
Mahindra Bolero Pik Up Extra Long      1
Maruti FRONX                           1
Chevrolet Captiva                      1
Maruti Celerio Tour 2018-2021          1
Mercedes-Benz AMG GLC 43               1
Chevrolet Aveo U-VA                    1
Tata Indigo Marina                     1
Hyundai Kona                           1
Tata Yodha Pickup                      1
Porsche 911                            1
Maruti Ertiga Tour                     1
Volkswagen CrossPolo                   1
Hindustan Motors Contessa              1
Fiat Abarth Avventura                  1
Mahindra Jeep                          1
Toyota Land Cruiser 300                1
Land Rover Range Rover                 1
Mercedes-Benz EQC                      1
Honda City Hybrid                      1
Tata Aria                              1
Mini 5 DOOR                            1
Audi A3 cabriolet                      1
Toyota Vellfire                        1
Mini Cooper Convertible                1
Fiat Palio                             1
Tata Sumo                              1
Volkswagen Tiguan Allspace             1
Jeep Compass Trailhawk                 1
Tata Sumo Victa                        1
Maruti 1000                            1
Fiat Punto Abarth                      1
Mercedes-Benz AMG GT                   1
MG Comet EV                            1
Audi S5 Sportback                      1
Mahindra Verito                        1
Mini 3 DOOR                            1
Mahindra TUV 300 Plus                  1
Jaguar F-TYPE                          1
Mercedes-Benz AMG GLA 35               1
Mini Cooper SE                         1
Audi A8                                1
Mercedes-Benz GLC Coupe                1
Volvo S 80                             1
Fiat Punto Pure                        1
Maruti Versa                           1
Mini Cooper Clubman                    1
Porsche Cayenne                        1
Audi Q3 Sportback                      1
Mercedes-Benz G                        1
Toyota Corolla                         1
Name: count, dtype: int64

### km

In [273]:
km=[]
for i in data["km"]:
    km_str=i.replace(",",'').strip()
    km.append(int(km_str))

a=pd.DataFrame(km,columns=["km"])

data["km"]=a["km"]

### "bt" null handling

In [21]:
data.loc[(data["bt"].isna()) & (data["oem"]=="Maruti"),"bt"]="Minivans"
data.loc[(data["bt"].isna()) & (data["oem"]=="Toyota"),"bt"]="MUV"

In [23]:
data[data["bt"].isna()]

Empty DataFrame
Columns: [centralVariantId, ft, km, transmission, ownerNo, owner, oem, bt, model, modelYear, variantName, Engine Type, price, city, Registration Year, Insurance Validity, Engine Displacement, Max Power, Torque, No of Cylinder, Mileage, Color, Seats, Length, Width, Height, Wheel Base, Steering Type, Drive Type, Cargo Volumn]
Index: []

### "price" data cleaning

In [25]:
amounts = []
for i in data["price"]:
    amount_str = i.replace('₹ ', '').replace(' Lakh', '').replace(' Crore', '').replace(',', '').strip()
    if 'Crore' in i:
        amounts.append(float(amount_str) * 100)  # Convert crores to lakhs
    elif 'Lakh' in i:
        amounts.append(float(amount_str))  
    else:
        amounts.append(float(amount_str)/100000)

price = pd.DataFrame(amounts, columns=['price in lakhs'])


data["price (lakh)"] = price["price in lakhs"]

In [71]:
data.head(5)

,centralVariantId,ft,km,transmission,ownerNo,owner,oem,bt,model,modelYear,variantName,Engine Type,price,city,Registration Year,Insurance Validity,Engine Displacement,Max Power,Torque,No of Cylinder,Mileage,Color,Seats,Length,Width,Height,Wheel Base,Steering Type,Drive Type,Cargo Volumn,price (lakh)
0,8654,Petrol,"20,000",Automatic,1,1st Owner,Kia,SUV,Kia Sonet,2022,Turbo DCT Anniversary Edition,Smartstream G1.0 T - GDi,₹ 11.50 Lakh,chennai,2022,Third Party insurance,998 cc,118.36bhp@6000rpm,172nm,3.0,NaN,Black,5 Seats,3995mm,1790,1642,2500,Electric,FWD,392,11.50
1,4025,Petrol,"20,687",Manual,1,1st Owner,Maruti,Minivans,Maruti Eeco,2015,7 Seater Standard BSIV,In-Line Engine,₹ 4.15 Lakh,chennai,Feb 2015,Comprehensive,1196 cc,73bhp@6000rpm,101Nm,4.0,15.37 kmpl,Grey,7 Seats,3675mm,1475mm,1800mm,2350mm,Manual,RWD,540-liters,4.15
2,8135,Petrol,"30,000",Manual,1,1st Owner,Nissan,SUV,Nissan Magnite,2021,Turbo XV Premium BSVI,HRA0 1.0 TURBO PETROL,₹ 7.50 Lakh,chennai,2021,Third Party insurance,999 cc,98.63bhp@5000rpm,160Nm,3.0,20 kmpl,Others,5 Seats,3994mm,1758,1572,2500,Electronic,NaN,336,7.50
3,1579,Petrol,"59,247",Manual,1,1st Owner,Hyundai,Hatchback,Hyundai i10,2015,Sportz 1.1L,IRDE2 Engine,₹ 3.98 Lakh,chennai,May 2015,Comprehensive,1086 cc,68.05bhp@5500rpm,99.04Nm,4.0,19.81 kmpl,Silver,5 Seats,3585mm,1595mm,1550mm,2380mm,Power,FWD,225-litres,3.98
4,1341,Petrol,"50,000",Manual,1,1st Owner,Honda,Hatchback,Honda Jazz,2015,1.2 VX i VTEC,i-VTEC Petrol Engine,₹ 5.50 Lakh,chennai,2015,Third Party insurance,1199 cc,88.7bhp@6000rpm,110Nm,4.0,18.7 kmpl,Others,5 Seats,3955mm,1694mm,1544mm,2530mm,Power,FWD,354-litres,5.50

### "Engine Type"

In [27]:
engine_mode=data["Engine Type"].mode()[0]

In [29]:
data["Engine Type"].fillna(engine_mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\2813241371.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Engine Type"].fillna(engine_mode,inplace=True)

### "Registration Year"

In [31]:
mode=data["Registration Year"].mode()[0]

In [33]:
data["Registration Year"].fillna(mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\3840876064.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Registration Year"].fillna(mode,inplace=True)

In [35]:
reg_year=[]
for i in data["Registration Year"]:
    i=i.split()[-1]
    reg_year.append(i)
   
a=pd.DataFrame(reg_year,columns=["reg_year"])
data["Registration Year"]=a["reg_year"]

### Insurance Validity

In [45]:
data["Insurance Validity"].value_counts()

# "Not Available"     227   (doubt on changing "Not Available" with mode())

Insurance Validity
Third Party      4689
Comprehensive    3150
Zero Dep          303
Not Available     227
Name: count, dtype: int64

In [39]:
data["Insurance Validity"].fillna("Not Available",inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\595264058.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Insurance Validity"].fillna("Not Available",inplace=True)

In [43]:
data["Insurance Validity"].replace(["Third Party insurance","1","2"],"Third Party",inplace=True)

### Seats

In [57]:
data["Seats"].value_counts()

Seats
5 Seats     7360
7 Seats      728
6 Seats      103
4 Seats       93
8 Seats       62
9 Seats       11
2 Seats        7
10 Seats       5
Name: count, dtype: int64

In [59]:
data[data["Seats"].isna()]

Empty DataFrame
Columns: [centralVariantId, ft, km, transmission, ownerNo, owner, oem, bt, model, modelYear, variantName, Engine Type, price, city, Registration Year, Insurance Validity, Engine Displacement, Max Power, Torque, No of Cylinder, Mileage, Color, Seats, Length, Width, Height, Wheel Base, Steering Type, Drive Type, Cargo Volumn, price (lakh)]
Index: []

In [53]:
nan=data["Seats"].mode()[0]

In [55]:
data["Seats"].fillna(nan,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\3525013098.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Seats"].fillna(nan,inplace=True)

### Engine Displacement

In [277]:
data["Engine Displacement"].value_counts()

# "0 cc" and "72 cc"

Engine Displacement
1197 cc    1638
998 cc      640
1199 cc     489
1497 cc     451
1248 cc     424
1498 cc     377
999 cc      337
1198 cc     279
796 cc      233
2179 cc     187
1086 cc     166
1591 cc     161
1462 cc     161
1493 cc     139
1956 cc     132
1582 cc     129
1995 cc     127
1968 cc     122
1396 cc     118
1461 cc      92
1598 cc      91
2143 cc      88
799 cc       73
1373 cc      68
814 cc       65
2494 cc      64
1999 cc      62
1496 cc      61
1368 cc      60
1997 cc      58
1798 cc      56
1991 cc      52
1451 cc      50
1196 cc      46
1353 cc      45
1998 cc      44
2993 cc      41
1950 cc      40
2982 cc      39
2393 cc      39
1399 cc      36
1120 cc      34
1298 cc      32
2755 cc      32
2987 cc      30
1061 cc      29
1984 cc      29
1499 cc      27
1969 cc      23
2967 cc      22
2523 cc      22
2198 cc      20
2354 cc      20
1186 cc      19
3198 cc      16
1799 cc      16
2184 cc      16
1194 cc      15
2694 cc      14
1364 cc      13
1996 cc      13
1495 cc      12
1405 cc      12
995 cc       12
624 cc       11
936 cc       11
2199 cc      11
1896 cc      10
1395 cc      10
1047 cc      10
2400 cc       9
1586 cc       9
1796 cc       8
993 cc        8
1596 cc       7
1193 cc       7
1794 cc       7
2499 cc       7
2498 cc       7
1390 cc       7
2925 cc       7
2995 cc       6
2996 cc       6
1599 cc       6
1341 cc       6
2998 cc       6
1597 cc       5
1797 cc       5
3498 cc       4
1482 cc       4
2487 cc       4
1781 cc       4
2477 cc       4
793 cc        4
1332 cc       4
1172 cc       4
2696 cc       4
2999 cc       4
1330 cc       4
3982 cc       4
2157 cc       3
2609 cc       3
2359 cc       3
1349 cc       3
4663 cc       3
1985 cc       3
2496 cc       3
2360 cc       3
2148 cc       3
1397 cc       3
3456 cc       3
1422 cc       2
1389 cc       2
1595 cc       2
2953 cc       2
2835 cc       2
5000 cc       2
2446 cc       2
2489 cc       1
4134 cc       1
2894 cc       1
3346 cc       1
2979 cc       1
1150 cc       1
1343 cc       1
2981 cc       1
2112 cc       1
2956 cc       1
4395 cc       1
2200 cc       1
1490 cc       1
1993 cc       1
2997 cc       1
1299 cc       1
2497 cc       1
1590 cc       1
2362 cc       1
970 cc        1
1468 cc       1
1589 cc       1
3597 cc       1
1108 cc       1
1817 cc       1
3993 cc       1
1948 cc       1
4806 cc       1
2994 cc       1
2231 cc       1
Name: count, dtype: int64

In [65]:
data["Engine Displacement"].fillna("0 cc",inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\4248534925.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Engine Displacement"].fillna("0 cc",inplace=True)

In [281]:
mode=data["Engine Displacement"].mode()[0]

In [83]:
data["Engine Displacement"].replace(["0 cc","72 cc"],mode,inplace=True)

In [283]:
a=[]
for i in data["Engine Displacement"]:
    a.append(int(i.replace(" cc"or"cc","")))

a=pd.DataFrame(a,columns=["ED"])
data["Engine Displacement"]=a["ED"]

### Max Power

In [201]:
data["Max Power"].unique()

array(['118.36bhp@6000rpm', '73bhp@6000rpm', '98.63bhp@5000rpm',
       '68.05bhp@5500rpm', '88.7bhp@6000rpm', '204bhp@4200rpm',
       '67.04bhp@6000rpm', '66.1bhp@6200rpm', '187.7bhp@4000rpm',
       '121.36bhp@6500rpm', '81.80bhp@6000rpm', '187.74bhp@4000rpm',
       '81.86bhp@6000rpm', '108.5bhp@3750rpm', '167.67bhp@3750rpm',
       '117.3bhp@6600rpm', '201.15bhp@3400rpm', '86.7bhp@6000rpm',
       '68.05bhp@6200rpm', '74bhp@4000rpm', '127bhp', '126.2bhp@4000rpm',
       '118.35bhp@6000rpm', '177.01bhp@4000-6000rpm', '117.6bhp@6600rpm',
       '83.1bhp@6000rpm', '82bhp@6000rpm', '163.60bhp@5200rpm',
       '98.6bhp@3600rpm', '107.3bhp@3200-4400rpm', '85 PS @ 6000 rpm ',
       '82bhp@5500rpm', '108.45bhp@4000rpm', '98.63bhp@6000rpm',
       '138.1bhp@6400rpm', '108.62bhp@5000rpm', '86.79bhp@3800rpm',
       '74.02bhp@4000rpm', '121.3bhp@6400rpm', '187.74bhp@3800-4200rpm',
       '82.4bhp@6000rpm', '241.4bhp@4000-4500rpm', '88.5bhp@4000rpm',
       '245bhp@2910-4500rpm', '147.8bhp@3400rpm',
       '167.62bhp@3000-4200rpm', '258bhp@4000rpm', '108.5bhp@5000rpm',
       '75.10bhp@6200rpm', '67.05bhp@5000rpm', '68bhp@5500rpm',
       '113.98bhp@5000-5500rpm', '78.9bhp@3600rpm', '113.43bhp@6300rpm',
       '182.38bhp@3500rpm', '78.9bhp@6000rpm', '88.76bhp@6000rpm',
       '90 PS @ 6000 rpm', '88.50bhp@6000rpm', '74bhp@5400rpm',
       '98.96bhp@3750rpm', '91.1bhp@6000rpm', '160.77bhp@5500rpm',
       '103.2bhp@5250rpm', '73.75bhp@5400rpm', '187.7bhp@3500rpm',
       '116.3bhp@6600rpm', '103.2bhp@6000rpm', '86.8bhp@6000rpm',
       '141bhp@5000rpm', '157.7bhp@3200rpm', '81.83bhp@6000rpm',
       '94.68bhp@6500rpm', '142 @ 4,000 (PS@rpm)', '100bhp@3750rpm',
       '203.2bhp@4200rpm', '143bhp@3500-4000rpm', '108.62bhp@4000rpm',
       '103.2bhp@4400rpm', '252bhp@5200rpm', '459bhp@5250-5500rpm',
       '210@4000 (PS@rpm)', '190bhp@4000rpm', '87.2bhp@3800rpm',
       '67.04bhp@6200rpm', '113.43bhp@4000rpm', '47.33bhp@6000rpm',
       '147.51bhp@5000-6000rpm', '108.49bhp@6000rpm', '67.05bhp@6000rpm',
       '73.97bhp@4000rpm', '130bhp@6300rpm', '67.04bhp@5000rpm',
       '65.71bhp@5500rpm', '98.63bhp@3600rpm', '67bhp@5500rpm',
       '117.60bhp@6600rpm', '113.45bhp@4000rpm', '114.41bhp@4000rpm',
       '191.7bhp@3800rpm', '140bhp@3750rpm', '121.3bhp@6300rpm',
       '91.18bhp@6000rpm', '88.73bhp@5600rpm', '103.6bhp@4400rpm',
       '103.25bhp@6000rpm', '281.61bhp@3400-4600rpm', '88.76bhp@4000rpm',
       '118PS at 6,600 rpm', '67.1bhp@6200rpm', '138.08bhp@6000rpm',
       '174.33bhp@4200rpm', '53.3bhp@5678rpm', '103.5bhp@5000rpm',
       '261.50bhp@4000rpm', '85.8bhp@6000rpm', '70@4,500 (PS@rpm)',
       '174.5bhp@3400rpm', '108.6bhp@5000rpm', '245bhp@4000rpm',
       '261.4bhp@4000rpm', '71.01bhp@6250rpm', '84bhp@6000rpm',
       '55.2bhp@5500rpm', '102@3,600 (PS@rpm)', '147.51bhp@3400rpm',
       '138.1bhp@3750rpm', '89.84bhp@3750rpm', '85.80bhp@6000rpm',
       '241.38bhp@4200rpm', '103.26bhp@6000rpm', '194bhp@3800rpm',
       '84.82bhp@6000rpm', '108.62bhp@5000-5500rpm',
       '325.86bhp3600-4200rpm', '68bhp@4000rpm', '74.96bhp@3600rpm',
       '67.05bhp@5500rpm', '73.9bhp@4000rpm', '188bhp@4000rpm',
       '150bhp@5000rpm', '53.64bhp@5678rpm', '67bhp@6000rpm',
       '88.73bhp@4000rpm', '148bhp@3400rpm', '119.35bhp@6600rpm',
       '83.83bhp@6000rpm', '167.68bhp@3750rpm', '68.05bhp@4000rpm',
       '69bhp@4000rpm', '161bhp@3600rpm', '136bhp@3600-4400rpm',
       '191.76bhp@3800rpm', '138.03bhp@4200rpm', '235 @ 4,000 (PS@rpm)',
       '98bhp', '201.15bhp@3800rpm', '248bhp@5000-6000rpm',
       '181bhp@4250rpm', '110.4bhp@6300rpm', '46.3bhp@6200rpm',
       '174.33bhp@3750-4200rpm', '37bhp@5000rpm', '172.35bhp@3750rpm',
       '103.2bhp@5200-5250rpm', '97.9bhp@3600rpm', '67.06bhp@5500rpm',
       '130bhp@3750rpm', '138.12bhp@6000rpm', '103.52bhp@4400rpm',
       '147.52bhp@5000-6000rpm', '98.59bhp@3750rpm', '254.79bhp@5000rpm',
       '158bhp@3200rpm', '70bhp@6250rpm', '103.5bhp@4400rpm',
       '75bhp@6200rpm', '105 @ 4,000 (PS@rpm)', '149.92bhp@6200rpm',
       '190bhp', '93.7bhp@5500rpm', '177bhp@4000rpm', '120.3bhp@5000rpm',
       '88.77bhp@4000rpm', '126.32bhp@4000rpm', '71.01bhp@4000rpm',
       '73.94bhp@4000rpm', '248.08bhp@5200rpm', '157.81bhp@5500rpm',
       '113.18bhp@6300rpm', '174.33@3750rpm', '83.14bhp@6000rpm',
       '75.94bhp@6000rpm', '98.63bhp@4000rpm', '73.9bhp@5400rpm',
       '136.78bhp@3750rpm', '53.26bhp@5600rpm', '47.3bhp@6000rpm',
       '88.8bhp@4200rpm', '108.6bhp@4000rpm', '86.63bhp@6000rpm',
       '184bhp@4000rpm', '138.05bhp@6000rpm', '115.05bhp@3750rpm',
       '172.45bhp@3500rpm', '187.40bhp@4000rpm', '156.9bhp@6500rpm',
       '90PS at 4000rpm', '148bhp@3500-4000rpm', '106 bhp @ 6800 rpm',
       '98.63bhp@3750rpm', '63 HP at 3200 rpm', '235bhp@4250rpm',
       '177.6bhp@6500rpm', '241.4bhp@3800-4400rpm', '113.98bhp@4000rpm',
       '103bhp@6000rpm', '65@5000 (PS@rpm)', '37.5bhp@5500+/-250rpm',
       '47bhp@3500rpm', '80 PS at 5200 rpm', '57.6bhp@4000rpm',
       '94.93bhp@6500rpm', '82.85bhp@6000rpm', '73.9bhp@4200rpm',
       '170bhp@3000-4200rpm', '53.64bhp@5600rpm', '170bhp@3750rpm',
       '180 @ 6,500 (PS@rpm)', '84.48bhp@6000rpm', '110bhp@6300rpm',
       '160 BHP', '335.2bhp@4000rpm', '86.8bhp@6300rpm', '67bhp@5000rpm',
       '99bhp@3750rpm', '118.41bhp@6000rpm', '152.87bhp@3750rpm',
       '83.81bhp@6000rpm', '157.7bhp@5700rpm', '160bhp@3750rpm',
       '218bhp@4400rpm', '201.15bhp@3000-3400rpm', '88.2@6000 (PS@rpm)',
       '60 PS @ 6000 rpm ', '170.63bhp@3750rpm', '100.5bhp@5500rpm',
       '114bhp@5250rpm', '189.08bhp@5000rpm', '88.7bhp@4000rpm',
       '80 @ 3,900 (PS@rpm)', '168.5bhp@3600rpm', '123.24bhp@6000rpm',
       '67.05bhp@5550rpm', '187.74bhp@4200-6000rpm', '88bhp@4200rpm',
       '38Ps@5500+/-250rpm', '120bhp@4000rpm', '108.49bhp@4000rpm',
       '121.31bhp@6500rpm', '77bhp@3750rpm', '71.02bhp@6250rpm',
       '118.36bhp@5500rpm', '134.1bhp@3400-4000rpm', '92.7bhp@6200rpm',
       '177bhp@4000pm', '167.62bhp@3000Ã¢??4200rpm', '186bhp@5600rpm',
       '100bhp@3600rpm', '103.5bhp@5250rpm', '70 bhp at 4000 rpm',
       '116.4bhp@6600rpm', '86.83bhp@6000rpm', '53.5@5,500 (PS@rpm)',
       '101.64bhp@6000rpm', '171.5bhp@3400rpm', '56.3bhp@4000rpm',
       '104.5bhp@5600rpm', '103.2bhp@5000rpm', '126.3bhp@4000rpm',
       '85ps @ 6,000rpm', '187.7bhp@5200rpm ', '66(90) / 4000',
       '72bhp@6000rpm', '103.6bhp@5250rpm', '400bhp',
       '83.1@6,000 (PS@rpm)', '85.8bhp@5500rpm', '103.2 @ 5,500 (PS@rpm)',
       '105 PS at 5250 rpm', '108.50bhp@4000rpm', '93.7bhp@6000rpm',
       '104.68@5,600 (PS@rpm)', '95.48bhp@6500rpm', '72.41bhp@6000rpm',
       '88.7bhp@5000rpm', '71 PS @ 4500 rpm ', '175bhp@3600rpm',
       '108.48bhp@5500rpm', '75bhp@4000rpm', '62.1bhp@5500rpm',
       '75bhp@6000rpm', '65@4,000 (PS@rpm)', '64.1bhp@5000rpm',
       '103.52bhp@5250rpm', '88.5bhp@4200rpm', '105.94bhp@6000rpm',
       '104  PS @ 5800  rpm', '194.3bhp@3800rpm', '78.9bhp@3900rpm',
       '153.866bhp@5500rpm', '162bhp@4000rpm', '73.74bhp@4000rpm',
       '215bhp@4000rpm', '175.56bhp@4000rpm', '170 @ 3,700 (PS@rpm)',
       '140@4,000 (PS@rpm)', '138.08bhp@4200rpm',
       '335.26bhp@5500-6500rpm', '120bhp (86.7kw)@4,000rpm',
       '70.02bhp@6250rpm', '197bhp', '218bhp@6300rpm', '70bhp@4000rpm',
       '236.7bhp@5500rpm', '158.2bhp@5700rpm', '254.8bhp@3400rpm',
       '97.7bhp@6000rpm', '90(66) @ 6200', '335.2@5000-6400',
       '63.1bhp@4000rpm', '187.74bhp@4200-6200rpm', '301.73bhp@5800rpm',
       '108.5bhp@3900rpm', '83.8bhp@3750rpm', '150bhp@5000-6000rpm',
       '120.69bhp@6500rpm', '255bhp@3750rpm', '214.5bhp@5700rpm',
       '214.56bhp@5700rpm', '97.89bhp@3600rpm', '241.38bhp@4000-4500rpm',
       '254.8bhp@3600rpm', '76.43bhp@6000rpm', '138bhp@6000rpm',
       '181bhp@3500-4000rpm', '88.50bhp@4000rpm', '181.04bhp@5500rpm',
       '153.86bhp@6500rpm', '108.5bhp@3850rpm', '138.03bhp@6400rpm',
       '141bhp@4000rpm', '187.74bhp@3800rpm', '118.35bhp@5500rpm',
       '177 @ 4,000 (PS@rpm)', '104.55bhp@5600rpm',
       '453.26bhp@5250-5500rpm', '194.4bhp@5800-6100',
       '171 PS @ 3600 rpm', '108.5bhp@4000rpm', '147.5bhp@6500rpm',
       '189.08bhp@4700-6000pm', '83 PS @ 5500 rpm ',
       '178bhp@5100-6200rpm', '103.6bhp@5000rpm', '187.74bhp@5200rpm',
       '105.5bhp@6000rpm', '147.94bhp@5000-6000rpm',
       '170 @ 4,000 (PS@rpm)', '138.1bhp@4200rpm', '102.57bhp@5850rpm',
       '174.3bhp@4200rpm', '197bhp@3000rpm', '113.42bhp@4000rpm',
       '181bhp@4000rpm', '182.46bhp@4000rpm', '158.8bhp@5800rpm',
       '160.92bhp@5500rpm', '130.1bhp@5600rpm', '108.45bhp@3850rpm',
       '88.8bhp@4000rpm', '203bhp@4200rpm', '100.6bhp@3600rpm',
       '70 @ 5,500 (PS@rpm)', '115 @ 5,250 (PS@rpm)', '67bhp@6200rpm',
       '98.6bhp@4000rpm', '215 @ 6,500 (PS@rpm)', '115bhp@3750rpm',
       '94 PS @ 5500 rpm ', '120.7bhp@5000rpm', '197.2bhp@3800rpm',
       '106@4,000 (PS@rpm)', '177.46bhp@5100-6200rpm', '112bhp@5000rpm',
       '218 @ 6,500 (PS@rpm)', '181bhp@5500rpm', '187.40bhp',
       '102.53bhp@5750rpm', '80 @ 5,200 (PS@rpm)', '163.2@5,700 (PS@rpm)',
       '65bhp@4000rpm', '120.33bhp@5000rpm', '153.86bhp@3200rpm',
       '261.49bhp@4000rpm', '83.81bhp@4000rpm', '163.2@4,000 (PS@rpm)',
       '147.94bhp@4000rpm', '254.79bhp@3400rpm', '113.42bhp@6300rpm',
       '187.4bhp@7000rpm', '25.4bhp@3500rpm', '41.42bhp',
       '35 bhp @ 5000 rpm', '141.04bhp', '86.76bhp@6000rpm',
       '163.7bhp@5200rpm', '71bhp@4000rpm', '100 bhp @ 6500 rpm',
       '61 PS @ 5500 rpm ', '147.9bhp@4000rpm', '164.7bhp@6000rpm',
       '145hp@5500rpm', '79.4bhp@6200rpm', '52.8bhp@5500rpm',
       '103.2 PS at 5500 RPM', '187.74bhp@3500rpm', '88 PS @ 6600 rpm',
       '78 @ 5,500 (PS@rpm)', '92@5500(PS@rpm)', '112bhp at 3800 rpm',
       '63bhp@3200rpm', '167.6bhp@3000-4200rpm', '61.68bhp@6000rpm',
       '86.63bhp@5500rpm', '85.7bhp@5600rpm', '246.74bhp@5500rpm',
       '62bhp@5400rpm', '72.4bhp@3900rpm', '335.25bhp@5500-6500rpm',
       '75@5,500 (PS@rpm)', '108.45bhp@3900rpm', '40bhp@3500 rpm',
       '93 PS @ 5600 rpm', '80.46bhp@5750rpm', '35 bhp@5500 rpm',
       '70bhp@3600rpm', '88.8bhp@6000rpm',
       '161.6 @ 4,500â€“6,200 (PS@rpm)', '153.86bhp@4000',
       '68@4,500 (PS@rpm)', '101 @ 6,500 (PS@rpm)',
       '157.75bhp@4500-6200rpm', '75.09bhp@3200rpm',
       '112.2 @ 4,000 (PS@rpm)', '101.65bhp@6000rpm', '110bhp@5000rpm',
       '260.0 @ 4,000 (PS@rpm)', '163.7bhp@3800rpm', '73.8bhp@4000rpm',
       '187.74bhp@4200rpm', '72bhp@6250rpm', '110.5bhp@6300rpm',
       '121bhp@3500rpm', '379.7bhp@6500rpm', '120 @ 4,000 (PS@rpm)',
       '69bhp@4500rpm', '84.8bhp@3750rpm', '94 @ 5,550 (PS@rpm)',
       '126.24bhp@4000rpm', '68 @ 4,000 (PS@rpm)', '384.87bhp@6100rpm',
       '48.21bhp@5000rpm', '201.1bhp@4200rpm', '108.62bhp@5500rpm',
       '57 @ 5,250 (PS@rpm)', '67.05bhp@3800rpm', '141bhp@3500-4000rpm',
       '138bhp@4000rpm', '184bhp@5500rpm', '105bhp@3800rpm',
       '136bhp@4400-6450rpm', '173bhp', '75bhp@4200rpm', '84bhp3750rpm',
       '200bhp@3900rpm', '177.5bhp@5100-6200rpm', '177bhp@5100-6200rpm',
       '105bhp@5600rpm', '99.23bhp@3750rpm', '158.79bhp@4000rpm',
       '197.26bhp@3800rpm', '254.79bhp@3600rpm', '118.3bhp@4000rpm',
       '160.77bhp@3750rpm', '296bhp@5500rpm', '40.36bhp@6000rpm',
       '91.7bhp@4000rpm', '189.08bhp@5000-6000rpm',
       '78 kW @ 4000 rpm / 106 PS @ 40', '62.1bhp@3200rpm',
       '245.4bhp@5500rpm', '132 @ 6,300 (PS@rpm)', '105bhp@4400rpm',
       '62bhp@5500rpm', '268bhp@5250rpm', '67.1bhp@6000rpm',
       '68.07bhp@5500rpm', '55.92bhp@5300rpm', '75 PS @ 5000 rpm',
       '108.5bhp@4200rpm', '138bhp@6400rpm', '247bhp@5500rpm',
       '215.01bhp@4000rpm', '72.40bhp@6000rpm', '97.6bhp@6000rpm',
       '68@4,300 (PS@rpm)', '75bhp@5400rpm', '252bhp@5000-6800rpm',
       '194.44bhp@5500-6100rpm', '150bhp', '75bhp@3200rpm',
       '59.18bhp@5500rpm', '237.36bhp@5500rpm', '394.3bhp @6500rpm ',
       '138.13bhp@4200rpm', '198.25bhp@6300rpm', '52 PS @ 4200 rpm',
       '78.9bhp@5600rpm', '103.2bhp@5200-5250mm', '510bhp@6250rpm',
       '235bhp', '178.49bhp@3800rpm', '76.8bhp@6200rpm ',
       '58.33bhp@5500rpm', '150.19bhp@6200rpm', '120.96bhp@3500rpm',
       '167.62bhp@3800-6200rpm', '348.66bhp@5400-6400rpm',
       '94 @ 6,200 (PS@rpm)', '62.1bhp@5400rpm', '123.37bhp@6000rpm',
       '130.2bhp@6300rpm', '300bhp@4000rpm', '98.6bhp@6000rpm',
       '70bhp@4500rpm', '89.75bhp@3750rpm', '167.6bhp@4200rpm',
       '197.13bhp@5000rpm', '75 PS at 4000 rpm ', '265bhp@3800rpm',
       '155bhp@3750rpm', '197.13bhp@3600rpm', '147.51bhp@4200rpm',
       '91.18bhp@5500rpm', '67bhp@4000rpm', '113.4bhp@6300rpm',
       '174.5bhp@3600-4000rpm', '78.8bhp@5600rpm', '110 @ 4,000 (PS@rpm)',
       '47@6,200 (PS@rpm)', '237.36bhp@5000-6000rpm',
       '57.5@6,000 (PS@rpm)', '138.08bhp@5600rpm', '79.65bhp@6000rpm',
       '375.5bhp@6500rpm', '73.75bhp', '154bhp@6400rpm', '272bhp@6300rpm',
       '93.7bhp@3600rpm', '168bhp@3400-4000rpm', '221.3bhp@4500-6200rpm',
       '156.82bhp@6500rpm', '183bhp@5500rpm', '140.8bhp@4200rpm',
       '105.5bhp@6300rpm', '88.8bhp@6200rpm', '178.4bhp@6000rpm',
       '97.64bhp@6000rpm', '68PS @ 6000rpm', '65.39bhp@5600rpm',
       '197bhp@5500-6100rpm', '68.05bhp@6000rpm', '67.72bhp@6000rpm',
       '181.03bhp', '138.1bhp@4000rpm', '64bhp@6200rpm',
       '321.84bhp@5500rpm', '248bhp@5200rpm', '58bhp@5500rpm',
       '67.04bhp@5500rpm', '91.19bhp@6000rpm', '200bhp@5000rpm',
       '83.11bhp@6000rpm', '178bhp@4000rpm', '67.06bhp@3800rpm',
       '296.3bhp@5500rpm', '282bhp@4000rpm', '258.81bhp@6000rpm',
       '170PS @ 6000rpm', '255bhp@4000rpm', '147.51bhp@3750-4000rpm',
       '362.07bhp5500-6100bhp', '335.25bhp@5200-6400rpm',
       '241.3bhp@4200rpm', '103.39bhp@6000rpm', '192bhp@5000-6000rpm',
       '237bhp@4000rpm', '241.3bhp@5000-6500rpm', '212.55bhp@4000rpm',
       '245.40bhp@5500rpm', '259bhp@6000rpm', '194.4bhp@5800-6100rpm',
       '181.03bhp@5500rpm', '204bhp@3800rpm', '245bhp@3800-4400rpm',
       '576.63bhp@6000rpm', '70.40Bhp@6000rpm', '469bhp@5250-5500rpm',
       '67.04bhp@3800rpm', '375.48bhp@6000rpm', '58.2bhp@6000rpm',
       '258bhp@3400rpm', '375.48bhp@5200-6700rpm', '64@6,200 (PS@rpm)',
       '333bhp@5250-6000rpm', '201.15bhp@5800-6100rpm', '250bhp@4000rpm',
       '75 @ 5,400 (PS@rpm)', '140.1bhp@6000rpm', '157.57bhp@5500rpm',
       '159.74bhp@3750rpm', '261.49bhp', '304.41bhp@4000rpm',
       '257.47bhp@5000-6000rpm', '197bhp@4500-6000rpm', '306bhp@6500rpm',
       '76bhp@6000rpm', '130.07bhp@3750rpm', '58.33bhp@6000rpm',
       '152.88bhp@6200rpm', '187.74bhp@4200-6000', '245bhp@5500rpm',
       '362.07bhp@5500-6000rpm', '185bhp@5600rpm', '148bhp@4000-5000rpm',
       '134bhp@3600rpm', '163.5bhp@6000rpm', '201.15bhp@5800-6800rpm',
       '68.1bhp@5500rpm', '80.46bhp@6000rpm', '130.3bhp@6300rpm',
       '102.5bhp@5800rpm', '88.7bhp@5600rpm', '65.39bhp@6000rpm',
       '178 @ 5,600 (PS@rpm)', '168.7bhp@3600rpm', '321bhp@5800rpm',
       '177bhp@5500rpm', '58.16bhp@6200rpm', '170bhp@3000-4200',
       '139.46bhp@6500rpm', '138bhp@3750rpm', '245.59bhp@5000-6000rpm',
       '364.9bhp@6300rpm', '86.80bhp@6000rpm', '99.6bhp@6500rpm',
       '82.9bhp@6000rpm', '98.69bhp@5500rpm', '175.67bhp@5700rpm',
       '301.73bhp@4000rpm', '103.25bhp@5000rpm', '147.51bhp@1620-4000rpm',
       '38.4bhp@6200rpm', '187.7bhp@5200pm', '167.62bhp@3500rpm',
       '335.25bhp@6500rpm', '103.3bhp@5600rpm', '113.42bhp@3750rpm',
       '355.37Bhp@5200-6500rpm', '107.2bhp@4000rpm', '105PS @4000rpm ',
       '144 @ 5,500 (PS@rpm)', '245bhp@5500', '62bhp@3200rpm',
       '59bhp@5400rpm', '141.1bhp@6000rpm', '384.87bhp@5500–6100rpm',
       '74.9bhp@5500rpm', '148.31bhp@4000rpm', '138.03bhp@4000rpm',
       '134.10bhp', '174.33bhp', '75 bhp at 5400 rpm', '148bhp@4000rpm',
       '79.4bhp@6200rpm ', '63 @ 5,500 (PS@rpm)', '75 PS @ 2000 rpm',
       '66.6 @ 5,500 (PS@rpm)', '75 PS at 4000  rpm ', '169bhp@3600rpm',
       '113.4bhp@4000rpm', '34.2bhp@5000rpm', '84.5@5,500 (PS@rpm)',
       '90 PS@ 4000 rpm ', '90 bhp @ 6500 rpm', '187.7bhp@3500pm',
       '100.57bhp@3600rpm', '443.87bhp@6500', '450bhp@5500rpm',
       '84.88bhp@6000rpm', '63.12bhp@4000rpm', '91.72bhp@4000rpm',
       '167.7bhp@4200rpm', '74bhp@4200rpm', '197.2bhp@3000rpm',
       '163bhp@4000rpm', '153.87bhp@5500rpm', '178.49bhp@4000rpm',
       '93.87bhp@4000rpm', '134.1bhp@3600-4400rpm', '384.87bhp@61000rpm',
       '175bhp@3600-4000rpm', '80bhp@6000rpm', '100bhp@5500rpm',
       '271.2bhp@4000rpm', '165 [224] at 3800', '83.14bhp@3750rpm',
       '99.6bhp@5600rpm', '143bhp@4000rpm', '163bhp@3500rpm',
       '241.6bhp@4000rpm', '165 @ 5,800 (PS@rpm)', '107.5bhp@6045rpm',
       '270.9bhp@4000rpm', '140PS @4000rpm', '71bhp@6250rpm',
       '100 @ 5,800 (PS@rpm)', '96.55bhp@5600-6400rpm', '89bhp@6000rpm',
       '102.5bhp@5850rpm', '150bhp@3500rpm', '116.6 @ 3,800 (PS@rpm)',
       '110(150)/5700', '108.62bhp@4000', '70bhp@4500rpm ',
       '41.57bhp@3500rpm', '402.30Bhpbhp', '140bhp@5500rpm',
       '82  PS @ 4000  rpm', '82.9 @ 5,500 (PS@rpm)', '58.2bhp@6200rpm',
       '85bhp@3000rpm', '85@5,500 (PS@rpm)', '184bhp@3800rpm',
       '63 @ 5,400 (PS@rpm)', '208bhp@4300-6000rpm', '75 PS @ 4200 rpm ',
       '125@6,000 (PS@rpm)', '61.6bhp@6200rpm'], dtype=object)

In [131]:
mode=data["Max Power"].mode()[0]
data["Max Power"].fillna(mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\3292131612.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Max Power"].fillna(mode,inplace=True)

In [311]:
import re
a=[]
count=-1
for i in data["Max Power"]:
    count+=1
    i_str= re.split(r'bhp|@|at|-| PS |PS| |HP|B|Ps|ps', i)[0]
    i_str = re.sub(r"hp", "", i_str)
    try:
        a.append(float(i_str))
    except:
        a.append(float(i_str.split('(')[0]))

In [321]:
Max_Power = pd.DataFrame(a, columns=['Max_Power'])
data["Max Power"] = Max_Power["Max_Power"]

### Torque

In [342]:
mode=data["Torque"].mode()[0]
data["Torque"].fillna(mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\332910573.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Torque"].fillna(mode,inplace=True)

In [418]:
torque=[]
count=-1
for i in data["Torque"]:
    count+=1
    try:
        torque_str=re.split(r'Nm|nm|NM|/', i)[0]
        #print(torque_str)
        torque.append(float(torque_str))
    except:
        #print(data.loc[count,"Torque"])
        if "(" in i:
            torque_str=re.split(r' ', i)[0]
            #print(torque_str)
            torque.append(float(torque_str))
        else:
            torque_str=re.split(r' ', i)[0]
            #print(f"{float(torque_str)*9.80665:.2f}")
            torque.append(float(f"{float(torque_str)*9.80665:.2f}"))

# 1 kgm = 9.80665 Nm

TypeError: argument of type 'float' is not iterable

In [410]:
Torque=pd.DataFrame(torque, columns=['Torque'])
data["Torque"]=Torque["Torque"]

### No of Cylinder

In [461]:
data["No of Cylinder"].value_counts()

No of Cylinder
4.0    6145
3.0    2004
6.0     129
0.0      28
5.0      23
2.0      15
7.0      13
8.0      12
Name: count, dtype: int64

In [445]:
data.loc[data["ft"]=="Electric","No of Cylinder"]= 0.0

In [459]:
mode=data["No of Cylinder"].mode()[0]
data["No of Cylinder"].fillna(mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\2085925575.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["No of Cylinder"].fillna(mode,inplace=True)

### Color

In [129]:
data["Color"].value_counts()

Color
Others                               2171
White                                1655
Silver                               1281
Red                                   798
Gray                                  631
Blue                                  605
Black                                 428
Brown                                 260
Orange                                102
Maroon                                 71
Golden                                 53
Green                                  45
Golden Brown                           22
Yellow                                 21
Polar White                            12
Purple                                 10
Silky Silver                            8
TITANIUM GREY                           8
Gold                                    8
Super white                             7
Star Dust                               5
Beige                                   5
Granite Grey                            5
Tafeta White                            5
Candy White                             4
Fiery Red                               4
Violet                                  4
Phantom Black                           4
MODERN STEEL METALLIC                   4
Pearl Arctic White                      4
Sleek Silver                            3
PLATINUM WHITE PEARL                    3
Nexa Blue                               3
Glacier White Pearl                     3
Magma Grey                              3
Diamond White                           3
Berry red                               3
Urban Titanium Metallic                 3
Outback Bronze                          3
Pearl White                             2
Metallic Glistening Grey                2
Dark Blue                               2
Silicon Silver                          2
Mist Silver                             2
Smoke Grey                              2
Arctic Silver                           2
Minimal Grey                            2
Chill                                   2
Carnelian Red Pearl                     2
R EARTH                                 2
Other                                   2
Aurora Black Pearl                      2
COPPER                                  2
MET ECRU BEIGE                          2
Alabaster Silver Metallic - Amaze       1
Metallic Magma Grey                     1
Ray blue                                1
Fire Brick Red                          1
Symphony Silver                         1
Starry Black                            1
Bold Beige Metallic                     1
Pure white                              1
Solid Fire Red                          1
c brown                                 1
Daytona Grey                            1
Metallic Azure Grey                     1
Moonlight Silver                        1
Champagne Mica Metallic                 1
Cashmere                                1
Cirrus White                            1
CBeige                                  1
Burgundy Red Metallic                   1
Modern Steel Metal                      1
Galaxy Blue                             1
Arizona Blue                            1
Rosso Brunello                          1
Passion Red                             1
urban titanim                           1
Beige Grey                              1
Hip Hop Black                           1
Light Orange                            1
Radiant Red M                           1
Pearl Snow White                        1
c bronze                                1
Metallic silky silver                   1
ESPRESO_BRWN                            1
Pearl Met. Arctic White                 1
Caviar Black                            1
Bronze                                  1
Off White                               1
Sky Blue                                1
Foliage                                 1
Prime Star Gaze                         1
T Wine                                  1
Wine Red                                1
Flash Red                               1
PLATINUM WHITE                          1
O Purple                                1
ORCHID WHITE PEARL                      1
PLATINUM SILVER                         1
PREMIUM AMBER METALLIC                  1
Lunar Silver Metallic                   1
Burgundy                                1
TITANIUM                                1
METALL                                  1
Cherry Red                              1
Sunset Red                              1
Light Silver                            1
Coral White                             1
Twilight Blue                           1
Deep Black Pearl                        1
Glistening Grey                         1
Metallic Premium silver                 1
Gravity Gray                            1
Mediterranean Blue                      1
Brick Red                               1
Porcelain White                         1
Medium Blue                             1
Bright Silver                           1
Cherry                                  1
Falsa Colour                            1
Dark Red                                1
Cavern Grey                             1
Carbon Steel                            1
Alabaster Silver Metallic               1
Modern Steel Metallic                   1
Name: count, dtype: int64

In [511]:
data["Color"].fillna("Others",inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_7536\819112791.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Color"].fillna("Others",inplace=True)

In [135]:
a=list(data["Color"].unique())
a.sort()
a

['Alabaster Silver Metallic',
 'Alabaster Silver Metallic - Amaze',
 'Arctic Silver',
 'Arizona Blue',
 'Aurora Black Pearl',
 'Beige',
 'Beige Grey',
 'Berry red',
 'Black',
 'Blue',
 'Bold Beige Metallic',
 'Brick Red',
 'Bright Silver',
 'Bronze',
 'Brown',
 'Burgundy',
 'Burgundy Red Metallic',
 'CBeige',
 'COPPER',
 'Candy White',
 'Carbon Steel',
 'Carnelian Red Pearl',
 'Cashmere',
 'Cavern Grey',
 'Caviar Black',
 'Champagne Mica Metallic',
 'Cherry',
 'Cherry Red',
 'Chill',
 'Cirrus White',
 'Coral White',
 'Dark Blue',
 'Dark Red',
 'Daytona Grey',
 'Deep Black Pearl',
 'Diamond White',
 'ESPRESO_BRWN',
 'Falsa Colour',
 'Fiery Red',
 'Fire Brick Red',
 'Flash Red',
 'Foliage',
 'Galaxy Blue',
 'Glacier White Pearl',
 'Glistening Grey',
 'Gold',
 'Golden',
 'Golden Brown',
 'Granite Grey',
 'Gravity Gray',
 'Gray',
 'Green',
 'Hip Hop Black',
 'Light Orange',
 'Light Silver',
 'Lunar Silver Metallic',
 'MET ECRU BEIGE',
 'METALL',
 'MODERN STEEL METALLIC',
 'Magma Grey',
 'Maroon',
 'Mediterranean Blue',
 'Medium Blue',
 'Metallic Azure Grey',
 'Metallic Glistening Grey',
 'Metallic Magma Grey',
 'Metallic Premium silver',
 'Metallic silky silver',
 'Minimal Grey',
 'Mist Silver',
 'Modern Steel Metal',
 'Modern Steel Metallic',
 'Moonlight Silver',
 'Nexa Blue',
 'O Purple',
 'ORCHID WHITE PEARL',
 'Off White',
 'Orange',
 'Others',
 'Outback Bronze',
 'PLATINUM SILVER',
 'PLATINUM WHITE',
 'PLATINUM WHITE PEARL',
 'PREMIUM AMBER METALLIC',
 'Passion Red',
 'Pearl Arctic White',
 'Pearl Met. Arctic White',
 'Pearl Snow White',
 'Pearl White',
 'Phantom Black',
 'Polar White',
 'Porcelain White',
 'Prime Star Gaze',
 'Pure white',
 'Purple',
 'R EARTH',
 'Radiant Red M',
 'Ray blue',
 'Red',
 'Rosso Brunello',
 'Silicon Silver',
 'Silky Silver',
 'Silver',
 'Sky Blue',
 'Sleek Silver',
 'Smoke Grey',
 'Solid Fire Red',
 'Star Dust',
 'Starry Black',
 'Sunset Red',
 'Super white',
 'Symphony Silver',
 'T Wine',
 'TITANIUM',
 'TITANIUM GREY',
 'Tafeta White',
 'Twilight Blue',
 'Urban Titanium Metallic',
 'Violet',
 'White',
 'Wine Red',
 'Yellow',
 'c bronze',
 'c brown',
 'urban titanim']

In [133]:
data["Color"].replace("Other","Others",inplace=True)

In [ ]:
# try to use [white,white,silver,silver,red,blue,black,gray] list with random() to replace others in colour

### Length

In [191]:
data["Length"].value_counts()

Length
3995    1255
4440     368
3765     295
3985     240
3585     175
4585     173
4315     152
4270     151
3990     147
3845     146
3999     144
4490     137
3840     137
3495     131
4395     122
3445     108
3610     108
3971     108
3998     105
3695      99
3565      99
3955      96
3599      82
3595      81
3655      80
3679      79
3993      76
4300      76
3700      75
3715      73
3731      71
3994      70
3991      69
3805      61
3746      61
4735      61
4413      55
4655      55
4375      55
3795      52
3850      51
3940      49
3545      48
4384      46
3675      40
4549      40
4386      39
3970      39
4160      38
4620      37
4420      36
4425      36
4390      35
4370      35
4456      33
3775      33
4686      32
3429      32
4265      31
4705      30
4598      30
4795      29
4824      29
3395      29
4500      29
3530      26
3430      26
4892      25
4540      25
3640      23
4221      23
4695      23
4296      23
4580      22
4405      22
4879      20
4630      20
4701      19
4661      19
4629      19
4545      19
4915      19
4360      18
4388      18
3760      17
4430      17
4936      17
3690      17
3600      17
4225      17
4445      17
4597      16
4323      16
3989      16
3992      15
4477      15
4819      15
4720      14
5063      14
3435      14
4591      14
4439      14
4570      14
3335      13
3825      13
3500      13
4250      13
3827      13
4331      13
4658      13
4788      12
4385      12
4670      12
4541      11
4600      11
4458      11
4560      11
3099      11
3987      11
4656      11
4933      10
4817      10
4950      10
4907      10
4868      10
3620      10
4985      10
4886      10
4530      10
4249       9
5130       9
3788       9
5089       9
4644       9
3954       9
3886       9
4310       9
4961       9
4924       8
4841       8
5255       8
3636       8
3535       8
4833       8
4708       8
4850       8
4624       8
3801       8
4596       8
3900       8
5052       8
4282       8
5115       8
4056       8
4247       7
3941       7
4000       7
4659       7
4662       7
4520       7
4838       7
4329       7
5120       6
4825       6
3520       6
4755       6
3785       6
4140       6
4575       6
4731       6
5091       6
4769       6
3920       6
4635       6
4569       6
4371       6
5075       6
4561       5
4697       5
5067       5
3988       5
3884       5
4726       5
4417       5
4107       5
3810       5
4369       5
4453       5
3780       5
4922       5
4435       5
3515       5
4318       4
4650       4
4531       4
4751       4
4882       4
4963       4
5246       4
4657       4
3981       4
4861       4
4699       4
4359       4
4355       4
4507       4
4424       4
4709       4
4648       4
4150       4
3802       4
4586       4
4345       3
4292       3
5247       3
4803       3
3895       3
4688       3
4377       3
3370       3
4572       3
4365       3
4455       3
4290       3
4628       3
5206       3
4781       3
4800       3
4988       3
4559       3
4869       3
4870       3
5219       3
4762       3
4305       3
4903       3
4299       3
4665       2
4633       2
4682       2
4325       2
4170       2
4627       2
4583       2
4447       2
5295       2
4637       2
5238       2
4574       2
4535       2
4940       2
4320       2
4939       2
5064       2
4429       2
5000       2
5018       2
4807       2
4234       2
4324       2
3714       2
4797       2
4223       2
4891       2
4095       2
4436       2
4618       2
4554       2
4975       2
4498       2
4475       2
4852       2
4097       2
4752       2
4690       2
4859       2
5207       2
4421       2
4509       2
5150       2
3590       2
5350       1
4158       1
5179       1
4595       1
5453       1
4716       1
4526       1
4143       1
4673       1
3982       1
4691       1
4495       1
4663       1
4010       1
4017       1
4749       1
3880       1
4180       1
4780       1
4519       1
4685       1
5200       1
4291       1
4410       1
4955       1
4693       1
4767       1
4894       1
4518       1
5010       1
4820       1
5015       1
4765       1
4823       1
4277       1
4546       1
5060       1
4970       1
4851       1
5252       1
2974       1
4285       1
4815       1
4222       1
4525       1
4480       1
4660       1
4470       1
3815       1
3996       1
4486       1
4400       1
5226       1
4482       1
4885       1
4253       1
4890       1
5302       1
4855       1
5462       1
4860       1
4606       1
5215       1
Name: count, dtype: int64

In [175]:
mode = data["Length"].mode()[0]
data["Length"].fillna(mode,inplace=True)

In [187]:
import re
a=[]
for i in data["Length"]:
    i=re.sub(r'mm| mm|,|',"", i)
    a.append(int(i))

In [189]:
Length = pd.DataFrame(a, columns=['Length'])
data["Length"] = Length["Length"]

### Width

In [198]:
mode = data["Width"].mode()[0]
data["Width"].fillna(mode,inplace=True)

In [202]:
import re
a=[]
for i in data["Width"]:
    i=re.sub(r'mm| mm|,|',"", i)
    a.append(int(i))

In [206]:
Width = pd.DataFrame(a, columns=['Width'])
data["Width"]= Width["Width"]

### Height

In [209]:
mode = data["Height"].mode()[0]
data["Height"].fillna(mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_1336\2024338157.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Height"].fillna(mode,inplace=True)

In [227]:
import re
a=[]
for i in data["Height"]:
    try:
        i=re.sub(r'mm| mm|,|',"", i)
        a.append(int(i))
    except:
        a.append(i)

In [221]:
data.loc[data["Height"]=='1498-1501',"Height"]=1500

In [231]:
Height = pd.DataFrame(a, columns=['Height'])
data["Height"]= Height["Height"]

### Wheel Base

In [238]:
mode = data["Wheel Base"].mode()[0]
data["Wheel Base"].fillna(mode,inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_1336\2774668145.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Wheel Base"].fillna(mode,inplace=True)

In [242]:
import re
a=[]
for i in data["Wheel Base"]:
    i=re.sub(r'mm| mm|,|m',"", i)
    a.append(int(i))

In [246]:
Wheel_Base = pd.DataFrame(a, columns=['Wheel Base'])
data["Wheel Base"]= Wheel_Base["Wheel Base"]

### Steering Type

In [273]:
data["Steering Type"].value_counts()

Steering Type
Power        6678
Electric     1594
Manual         86
EPAS            9
Hydraulic       2
Name: count, dtype: int64

In [259]:
data["Steering Type"].replace("power","Power",inplace=True)

In [269]:
mode=data["Steering Type"].mode()[0]
data["Steering Type"].fillna(mode,inplace=True)

### Drive Type

In [81]:
data["Drive Type"].value_counts()

Drive Type
FWD                          7146
RWD                           416
AWD                           289
2WD                           222
4WD                           144
4X2                            86
4X4                            52
RWD(with ESP)                   6
RWD(with MTT)                   5
Permanent AWD Quattro           2
AWD INTEGRATED MANAGEMENT       1
Name: count, dtype: int64

In [75]:
a=list(data["Drive Type"].fillna("nan").unique())
a.sort()
a

['2WD',
 '4WD',
 '4X2',
 '4X4',
 'AWD',
 'AWD INTEGRATED MANAGEMENT',
 'FWD',
 'Permanent AWD Quattro',
 'RWD',
 'RWD(with ESP)',
 'RWD(with MTT)',
 'nan']

In [79]:
data["Drive Type"].fillna("FWD",inplace=True)

In [41]:
data[data["Drive Type"]=="AWD INTEGRATED MANAGEMENT"]

,centralVariantId,ft,km,transmission,ownerNo,owner,oem,bt,model,modelYear,variantName,Engine Type,price,city,Registration Year,Insurance Validity,Engine Displacement,Max Power,Torque,No of Cylinder,Mileage,Color,Seats,Length,Width,Height,Wheel Base,Steering Type,Drive Type,Cargo Volumn,price (lakh)
4804,8448,Diesel,"3,500",Automatic,1,1st Owner,Toyota,SUV,Toyota Land Cruiser 300,2023,ZX,V6 3.3l Turbo Diesel Engine,₹ 2.69 Crore,delhi,2023,Comprehensive,3346 cc,304.41,700.0,6.0,NaN,White,5 Seats,4685,1980,1945,2850,Power,AWD INTEGRATED MANAGEMENT,NaN,269.0

### Cargo Volumn

In [140]:
dummy=data[~data["Cargo Volumn"].isna()]
dummy=dummy.reset_index(drop=True)

In [142]:
import re
a=[]
count=-1
for i in dummy["Cargo Volumn"]:
    count+=1
    i_str= re.split(r'-| |/|L|l', str(i))[0]
    a.append(int(i_str))

Cvol = pd.DataFrame(a, columns=['Cvol'])
dummy["Cargo Volumn"]=Cvol["Cvol"]

In [156]:
dummy.groupby("bt")["Cargo Volumn"].mean()

bt
Convertibles    351.200000
Coupe           408.857143
Hatchback       267.532873
Hybrids         300.000000
MUV             211.871486
Minivans        474.000000
SUV             418.025989
Sedan           461.094949
Wagon           341.000000
Name: Cargo Volumn, dtype: float64

In [160]:
dummy.groupby("bt")["Cargo Volumn"].sum()

bt
Convertibles      1756
Coupe             2862
Hatchback       736518
Hybrids            300
MUV              52756
Minivans          4740
SUV             739906
Sedan           912968
Wagon              341
Name: Cargo Volumn, dtype: int64

In [158]:
dummy["bt"].value_counts()

bt
Hatchback       2753
Sedan           1980
SUV             1770
MUV              249
Minivans          10
Coupe              7
Convertibles       5
Hybrids            1
Wagon              1
Name: count, dtype: int64

In [262]:
data.loc[(data["bt"]=="Hatchback")&(data["Cargo Volumn"].isna()),"Cargo Volumn"]="267"

In [268]:
import re
a=[]
count=-1
for i in data["Cargo Volumn"]:
    count+=1
    i_str= re.split(r'-| |/|L|l', str(i))[0]
    a.append(int(i_str))

Cvol = pd.DataFrame(a, columns=['Cvol'])
data["Cargo Volumn"]=Cvol["Cvol"]

### Mileage

In [288]:
data["Mileage"].value_counts()

Mileage
18.9 kmpl     306
18.6 kmpl     225
21.4 kmpl     198
17 kmpl       191
18 kmpl       145
             ...
14.94 kmpl      1
13.44 kmpl      1
7.5 kmpl        1
9.4 kmpl        1
9.74 kmpl       1
Name: count, Length: 522, dtype: int64

In [290]:
dummy=data[~data["Mileage"].isna()]
dummy=dummy.reset_index(drop=True)

In [296]:
import re
a=[]
count=-1
for i in dummy["Mileage"]:
    count+=1
    i_str= re.split(r'-| ', str(i))[0]
    a.append(float(i_str))

milage = pd.DataFrame(a, columns=['milage'])
dummy["Mileage"]=milage["milage"]

In [300]:
dummy.groupby("bt")["Mileage"].mean()

bt
Convertibles     14.888333
Coupe            12.798889
Hatchback        21.012183
Hybrids          18.000000
MUV              16.772000
Minivans         16.408077
Pickup Trucks    12.400000
SUV              17.065331
Sedan            18.891671
Wagon            21.500000
Name: Mileage, dtype: float64

In [324]:
data.loc[(data["bt"]=="Sedan")&(data["Mileage"].isna()),"Mileage"]="18.89"

In [328]:
import re
a=[]
count=-1
for i in data["Mileage"]:
    count+=1
    i_str= re.split(r'-| ', str(i))[0]
    a.append(float(i_str))

milage = pd.DataFrame(a, columns=['milage'])
data["Mileage"]=milage["milage"]

### Turbo Charger

In [ ]:
df["Turbo Charger"].unique()

In [177]:
df["Turbo Charger"].value_counts()

Turbo Charger
No      4260
Yes     3016
Twin      53
Name: count, dtype: int64

In [ ]:
df["Turbo Charger"].replace("twin",'Twin',inplace=True)

In [285]:
data

,centralVariantId,ft,km,transmission,ownerNo,owner,oem,bt,model,modelYear,variantName,Engine Type,price,city,Registration Year,Insurance Validity,Engine Displacement,Max Power,Torque,No of Cylinder,Mileage,Color,Seats,Length,Width,Height,Wheel Base,Steering Type,Drive Type,Cargo Volumn,price (lakh)
0,8654,Petrol,20000,Automatic,1,1st Owner,Kia,SUV,Kia Sonet,2022,Turbo DCT Anniversary Edition,Smartstream G1.0 T - GDi,₹ 11.50 Lakh,chennai,2022,Third Party,998,118.36,172.00,3.0,NaN,Black,5 Seats,3995,1790,1642,2500,Electric,FWD,392,11.50
1,4025,Petrol,20687,Manual,1,1st Owner,Maruti,Minivans,Maruti Eeco,2015,7 Seater Standard BSIV,In-Line Engine,₹ 4.15 Lakh,chennai,2015,Comprehensive,1196,73.00,101.00,4.0,15.37 kmpl,Gray,7 Seats,3675,1475,1800,2350,Manual,RWD,540,4.15
2,8135,Petrol,30000,Manual,1,1st Owner,Nissan,SUV,Nissan Magnite,2021,Turbo XV Premium BSVI,HRA0 1.0 TURBO PETROL,₹ 7.50 Lakh,chennai,2021,Third Party,999,98.63,160.00,3.0,20 kmpl,Others,5 Seats,3994,1758,1572,2500,Electric,FWD,336,7.50
3,1579,Petrol,59247,Manual,1,1st Owner,Hyundai,Hatchback,Hyundai i10,2015,Sportz 1.1L,IRDE2 Engine,₹ 3.98 Lakh,chennai,2015,Comprehensive,1086,68.05,99.04,4.0,19.81 kmpl,Silver,5 Seats,3585,1595,1550,2380,Power,FWD,225,3.98
4,1341,Petrol,50000,Manual,1,1st Owner,Honda,Hatchback,Honda Jazz,2015,1.2 VX i VTEC,i-VTEC Petrol Engine,₹ 5.50 Lakh,chennai,2015,Third Party,1199,88.70,110.00,4.0,18.7 kmpl,Others,5 Seats,3955,1694,1544,2530,Power,FWD,354,5.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,3823,Diesel,60000,Manual,1,1st Owner,Mahindra,SUV,Mahindra XUV500,2013,W8 2WD,mHawk Diesel Engine,₹ 7 Lakh,hyderabad,2013,Third Party,2179,140.00,330.00,4.0,15.1 kmpl,Others,7 Seats,4585,1890,1785,2700,Power,FWD,418,7.00
8365,5007,Diesel,50000,Automatic,1,1st Owner,Jaguar,Sedan,Jaguar XF,2014,3.0 Litre S Premium Luxury,Diesel S Engine,₹ 20 Lakh,hyderabad,2014,Third Party,2993,270.90,600.00,6.0,14.74 kmpl,Blue,5 Seats,4961,1877,1460,2909,Power,RWD,540,20.00
8366,250,Diesel,120000,Automatic,3,3rd Owner,BMW,Sedan,BMW 5 Series,2018,520d Luxury Line,TwinPower Turbo Inline 4 Cylinder Engine,₹ 35 Lakh,hyderabad,2018,Third Party,1995,187.74,400.00,4.0,20.37 kmpl,Blue,5 Seats,4936,2126,1466,2975,Power,RWD,520,35.00
8367,6500,Diesel,50000,Automatic,2,2nd Owner,Tata,SUV,Tata Nexon,2019,1.5 Revotorq XMA,"Revotorq, 1.5L Turbocharged engine",₹ 8.50 Lakh,hyderabad,2019,Third Party,1497,108.50,260.00,4.0,21.5 kmpl,Others,5 Seats,3994,1811,1607,2498,Power,FWD,350,8.50
8368,2294,Diesel,100000,Manual,1,1st Owner,Toyota,MUV,Toyota Innova,2015,2.5 ZX Diesel 7 Seater,2KD-FTV Diesel Engine,₹ 15 Lakh,hyderabad,2015,Third Party,2494,100.60,200.00,4.0,12.99 kmpl,Others,7 Seats,4585,1765,1760,2750,Power,RWD,300,15.00